app = 'appartagent-app'
primary_region = 'cdg'

[build]

[deploy]
  release_command = './bin/rails db:prepare'

[env]
  HTTP_PORT = "8080"
  TARGET_PORT = "3000"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
